{% extends 'base.html' %}
{% from 'bootstrap5/form.html' import render_form %}

{% block title %}Add Movie{% endblock %}

{% block content %}
<div class="content">
    <h1 class="heading">Add a Movie</h1>

    {{ render_form(form, novalidate=True) }}

</div>
{% endblock %}

<!--PASS = bc1f6eb33bb04daa516f7e58ab267245-->
<!--TOKEN = eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJiYzFmNmViMzNiYjA0ZGFhNTE2ZjdlNThhYjI2NzI0NSIsIm5iZiI6MTcyODM4MTEzOS4yNTQ2MjUsInN1YiI6IjY3MDRmZjUzNWFlMDFkMDkwZTFkNDRjMSIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.fbDI7kIqONbqwAEUNlxtkLAWqeX77KYrw2nWFMv8jvA-->